h1 {color: #fefefe;
text-align: center;
font-family: 'Lobster', cursive;}
body {background-color:#c54a3a;
text-align: center}
h2 {color: #4e4bb4;
font-family: 'Lobster', cursive;
text-align: center}
ul {color: #90a297;}

h3 {font-family: 'Lobster', cursive;}
